.image-area {
    width: 1280px;
    height: 720px;
    border: 1px solid;
}
.paraTitle {
    font-size: 19px;
    color: black;
}

body, html {
    height: 100%;
    background-color: white;
    font-family: 'Comfortaa', cursive;
    color: black;
    overflow: hidden; /* Hide scrollbars */
}
.pngOutline {
    filter: drop-shadow(5px 5px 10px #000) drop-shadow(-5px -5px 10px #000);
}
canvas {
    border: #3e64ff solid 1px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
input, select {
    text-align: center;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #3e64ff;
    background-color: transparent;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: 0.3s;
}
/*/////////////////////////////////////*/
input[type=file] {
    appearance: none;
    width: 100%;
    border-radius: 5px;
    border:1px solid #3e64ff;
    background-color: transparent;
    height: 25px;
    padding:2px;
}

input[type="checkbox"] {
    margin: 0;
    width: 1.45em;
    height: 1.45em;
    border: 1px solid #3e64ff;
    border-radius: 0.35em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
input:checked {
    accent-color: #3e64ff;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 10px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#3e64ff,#3e64ff);
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #3e64ff;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #000;
    transition: background .1s ease-in;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #3e64ff;
}

/*aaaaaaaaaaaaa*/
::file-selector-button {
    display: none;
}

button {
    border-radius: 2px;
    border: 1px solid #3e64ff;
    color: #3e64ff;
    background-color: transparent;
    height: 33px;
    margin-top: 3px;
    transition: 0.3s;
    box-shadow: 0 12px 20px -6px rgb(0 0 0 / 21%);
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
}
button:hover {
    color: white;
    background-color: #3e64ff;
}

/*When button clicked*/
button:active{
    transform: translateY(4px);
}

div {
    margin: 3px;
}

label {
    margin-top: 2px;
    margin-bottom: 2px;
}
