@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#particle-div {
    margin: 0 auto;
}

h3 {
    font-weight: bolder !important;
    background: linear-gradient(128.87deg, #fd0076 14.05%, #facc97 89.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jumbotron {
    height: 100vh;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #414141;
    padding: 25px;
}

.pSkill {
    font-size: 30px;
}

/* Set the height and width of the div */
#particle-div {
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 110vh;
}

html,
body {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.skillCard {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 50px;
}

.jumpTitle {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
    color: white;
    text-shadow: none;
}

.textGradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    background-color: linear-gradient(133deg, rgba(255, 0, 168, 1) 0%, rgba(255, 102, 0, 1)100%);
}

.jumboStyle {
    background-color: linear-gradient(45deg, rgba(24, 24, 24, 1) 0%, rgba(66, 66, 66, 1) 100%);
}

#jumb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 100px;
    padding-right: 100px;
}

#renderParagraph {
    width: 50%;
}

@media (max-width: 767px) {
    #jumb {
        padding-left: 0px;
        padding-right: 0px;
    }

    #renderParagraph {
        width: 100%;
    }
}

.navbar {
    background-color: #272323da;
    backdrop-filter: blur(5px);
}

.typewriter-text {
    color: white;
}

.typewriter-cursor {
    border-right: 3px solid rgb(255, 153, 0);
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.bg-blur{
    backdrop-filter: blur(3px);
    background-color: #ffffff0e;
}
